.image-preview img{
    width: 100px;
    border-top: 30px solid  skyblue;
    border-right: 30px solid lightpink;
    border-left: 30px solid #ffefd4;
    border-bottom: 30px solid lightgreen;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {
    background-color: whitesmoke;
  }

  red{
    color: red;
  }
  green{
    color: green;
  }
  pink{
    color: pink;
  }
  red{
    color: red;
  }
  orange{
    color: orange;
  }
  blue{
    color: blue;
  }